body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* consistent sizing for all elements */
* {
  box-sizing: border-box;
}

.container-all {
  padding: 0px 32px;
}

.icon {
  margin-top: 8px;
  width: 184px;
  /* border: 1px solid red; */
}

.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0;
}

.nav-a {
  color: black;
  text-decoration: none;
  font-size: 0.97em;
  padding: 3px;
  font-weight: 800;
  display: block;
  border: 2px solid black;

  /* background has 2 values, transition switch between them on hover */
  background: linear-gradient(
      to right,
      rgba(200, 200, 200, 1),
      rgba(200, 200, 200, 1)
    ),
    linear-gradient(to right, rgb(222, 140, 17), rgb(235, 230, 230));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms ease-in-out, transform 400ms ease-in-out;
}

.nav-a:hover {
  transform: scale(1.02);
  background-size: 0 3px, 100% 3px;
}

.activePage {
  color: #eb9e46;
  font-weight: 800;
}
.header-text {
  margin-top: 32px;
  font-size: 2.5em;
  font-weight: 900;
  /* border: 1px solid red; */
  letter-spacing: -0.05em;
  line-height: 47px;
  max-width: 450px;
}

.header-dropdown {
  position: relative;
  display: inline-block;
}

.header-dropdown-btn {
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 8px 24px;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: 16px;
}

.header-dropdown-content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  background-color: #ffffff;
  min-width: 88px;
  line-height: 30px;
  z-index: 1;
}

.show {
  opacity: 1;
  height: auto;
}
.content-subheader {
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 40px;
  /* border: 1px solid red; */
}

.content-button-container {
  display: flex;
  justify-content: center;
}

.content-button {
  color: white;
  background-color: #ff470d;
  font-size: calc(1.2em + 0.5vw);
  font-weight: bold;
  padding: 0.7em 5.3em;
  border-radius: 7px;
  margin-bottom: 60px;
  border: 1px solid #ff470d;
  cursor: pointer;
  box-shadow: #807f7f 0px 10px 40px 1px;
}

.content-button:active {
  background-color: #ff450d7b;
  color: rgba(31, 23, 23, 0.37);
}

.content-featured-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  /* border: 1px solid red; */
}

.content-featured-head {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  background: black;
  color: white;
  padding: 0.5em;
  /* border: 1px solid red; */
}

.content-featured-subhead {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  /* border: 1px solid red; */
}

.content-reviews-head-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

.content-reviews-head {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  background: black;
  color: white;
  padding: 0.5em;
  width: 100%;
  /* border: 1px solid red; */
}

.content-reviews-body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.content-bgwh-head-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 10px 10px 40px;

  position: absolute;
  width: 151px;
  height: 43px;
  left: 0px;

  font-size: 1.3em;
  color: #f1f1f1;

  background: #040404;
}

.content-bgwh-head {
  /* Our Team */
  font-size: 24px;
  line-height: 94.19%;
  /* identical to box height, or 23px */
  letter-spacing: -0.025em;
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.about-subheader-container {
  /* ourTeam-subheader */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 10px 10px 40px;

  position: absolute;
  width: 217px;
  height: 60px;
  left: -22px;
  top: 130px;
}

.rectangle1 {
  /* Rectangle 1 */
  position: static;
  width: 4px;
  height: 40px;
  left: 40px;
  top: 10px;

  background: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.inside-subheader {
  /* meet the talented team behind all this */
  position: static;
  width: 153px;
  height: 40px;
  left: 54px;
  top: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 94.19%;
  /* or 13px */
  letter-spacing: -0.025em;
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 10px;
}

.image-container1 {
  position: absolute;
  width: 122px;
  height: 215px;
  left: 49px;
  top: 233px;
}

.image-container2 {
  position: absolute;
  width: 122px;
  height: 215px;
  left: 219px;
  top: 233px;
}

.image-container3 {
  position: absolute;
  width: 122px;
  height: 218px;
  left: 49px;
  top: 512px;
}

.image-container4 {
  position: absolute;
  width: 122px;
  height: 218px;
  left: 219px;
  top: 512px;
}

/* containers have different positions */
.image-text-header-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  position: absolute;
  width: 109px;
  height: 33px;
  left: 54px;
  top: 355px;
}

.image-text-header-container2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  position: absolute;
  width: 109px;
  height: 33px;
  left: 224px;
  top: 355px;
}

.image-text-header-container3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  position: absolute;
  width: 109px;
  height: 33px;
  left: 54px;
  top: 637px;
}

.image-text-header-container4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  position: absolute;
  width: 109px;
  height: 33px;
  left: 224px;
  top: 637px;
}

/* content inside containers have the same css due to it */
/* being a child element of their own containers */
/* the child element takes positions according to their parent elements */
.image-text-header {
  position: static;
  width: 89px;
  height: 13px;
  left: 10px;
  top: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 94.19%;
  /* or 13px */

  letter-spacing: -0.025em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.image-text-subheader-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  position: absolute;
  width: 109px;
  height: 70px;
  left: 0px;
  top: 20px;
}

.image-text-subheader {
  position: static;
  width: 89px;
  height: 52px;
  left: 10px;
  top: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 94.19%;
  /* or 10px */

  letter-spacing: -0.025em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.content-bgwh-head-container-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 10px 10px 40px;

  position: absolute;
  width: 131px;
  height: 43px;
  left: 0px;
  top: 738px;

  background: #040404;
}

.content-bgwh-head-2 {
  position: static;
  width: 81px;
  height: 23px;
  left: 40px;
  top: 10px;

  font-weight: 600;
  font-size: 24px;
  line-height: 94.19%;
  /* identical to box height, or 23px */

  letter-spacing: -0.025em;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.image-text-subheader2 {
  position: static;
  width: 81px;
  height: 23px;
  left: 40px;
  top: 10px;

  font-weight: 600;
  font-size: 24px;
  line-height: 94.19%;
  /* identical to box height, or 23px */

  letter-spacing: -0.025em;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.contact-subheader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 10px 10px 40px;

  position: absolute;
  width: 217px;
  height: 60px;
  left: 103px;
  top: 730px;
}

.rectangle2 {
  position: static;
  width: 4px;
  height: 40px;
  left: 40px;
  top: 10px;

  background: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.inside-subheader-2 {
  position: static;
  width: 153px;
  height: 40px;
  left: 54px;
  top: 10px;

  font-weight: 600;
  font-size: 18px;
  line-height: 94.19%;
  letter-spacing: -0.025em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 10px;
}

.contact-text {
  position: static;
  width: 89px;
  height: 13px;

  font-weight: 600;
  font-size: 18px;
  line-height: 94.19%;
  /* or 13px */

  letter-spacing: -0.025em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.contact-image-container-1 {
  position: absolute;
  width: 140px;
  height: 38px;
  left: 56px;
  top: 801px;
}

.contact-image-container-2 {
  position: absolute;
  width: 140px;
  height: 38px;
  left: 300px;
  top: 801px;
}

.contact-image-container-3 {
  position: absolute;
  width: 140px;
  height: 38px;
  left: 56px;
  top: 850px;
}

.contact-image-container-4 {
  position: absolute;
  width: 140px;
  height: 38px;
  left: 300px;
  top: 850px;
}

.contact-text-container-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  position: absolute;
  width: 109px;
  height: 33px;
  left: 26px;
  top: 3px;
}

.contact-text-container-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  position: absolute;
  width: 109px;
  height: 33px;
  left: -80px;
  top: 3px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;

  position: relative;
  top: 1000px;
  width: 100%;
  height: 78px;
  margin: 0 auto;
  left: 0px;

  background: #000000;
}

.footer-container-home {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  margin-top: 100px;

  background: #000000;
}

.footer-section {
  /* always at the bottom */
  position: relative;
  width: 100%;
  height: 78px;
  background: #000000;
}

.footer-content {
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0px;
  /* position: relative;
  bottom: 0px;
  left: 4vw; */
  padding: 10px;
  width: 100vw;
}

.footer-section h2 {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 94.19%;
  letter-spacing: -0.025em;
  font-weight: 600;
}

.prev,
.next {
  position: relative;
  bottom: 20em;
  border: 1px solid red;
  background-color: transparent;
}

#slide-image {
  width: 100%;
}

.vip-room-wrapper {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  scroll-snap-type: x mandatory;
}

section {
  display: grid;
  grid-template-columns: repeat(5, auto);
  position: relative;
  width: 100%;
  margin: 0 20px;
}

#vip-room-section,
#deluxe-room-section,
#normal-room-section {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
}

.Room {
  position: relative;
  padding: 0 2px;
  transition: 0.2s;
  transform-origin: center;
}

.Room:hover {
  transform: scale(1.2);
  margin: 0 40px;
  transition: 0.2s;
}

.room-image {
  position: relative;
  width: 341px;
  height: 192px;
  border-radius: 20px;
  scroll-snap-align: center;
}

.gradient-and-star {
  position: absolute;
  width: 341px;
  height: 192px;
  border-radius: 20px;
  bottom: 0;
  opacity: 0;
}

.gradient-and-star img {
  position: relative;
  top: 128px;
  left: 80px;
  max-width: 32px;
  max-height: 32px;
  filter: invert(100%);
}

.gradient-and-star:hover {
  background: linear-gradient(transparent, #f68d6d71);
  opacity: 1;
  transition: 0.2s;
}

.gradient-and-star-active{
  background: linear-gradient(transparent, #f68d6d71);
  opacity: 1;
  transition: 0.2s;
}

.room-name {
  position: absolute;
  color: rgb(255, 255, 255);
  padding-left: 120px;
  border: 2px #ff470d;
  font-size: 1.5em;
  left: -10px;
}

.villa-type {
  color: black;
  text-align: center;
}

.poster {
  width: 100%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px;
  filter: blur(4px);

}

.poster-wrapper {
  display: flex;
  width: 100%;
}


/** header css here  */
.header-container {
  display: flex;
  flex-direction: column;
}

.header-h1 {
  font-size: 2.7vh;
  font-weight: bold;
  margin-bottom: 8px;
  background: black;
  color: white;
  padding: 0.5em;
}

/** subheader css here  */

.header-subheader {
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #000000;
  border-left: 4px solid #000000;
  padding-left: 16px;
  max-width: 256px;
}

@media (min-width: 768px) {
  .header-h1 {
    font-size: 2em;
  }

  .header-subheader {
    font-size: 1.5em;
  }
}

.poster2 {
  width: 100%;
  margin: 40px 10px;
  border-radius: 20px;
  overflow: hidden;
}

/*.search-container {
	width: 100%;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-container-input {
	position: relative;
	width: 100%;
	max-width: 700px;;
	background: lightblue;
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px;
	
}

.search-container-input input {
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 24px 20px;
	font-size: 20px;
	color: #cac7ff;
}
*/

#search-icon {
  width: 80px;
}
#Hidden-vip-room1,
#Hidden-vip-room2,
#Hidden-vip-room3,
#Hidden-vip-room4,
#Hidden-vip-room5,
#Hidden-deluxe-r1,
#Hidden-deluxe-r2,
#Hidden-deluxe-r3,
#Hidden-deluxe-r4,
#Hidden-deluxe-r5,
#Hidden-normal-r1,
#Hidden-normal-r2,
#Hidden-normal-r3,
#Hidden-normal-r4,
#Hidden-normal-r5 {
  display: none;
  height: 920px;
  width: 100%;
  text-align: center;
}

.room-desc-pic {
  position: relative;
  border-radius: 20px;
  margin-top: 40px;
  width: 100%;
}

@media (max-width: 1164px) {
  .room-desc-pic {
    display: none;
  }
}

.room-desc-text {
  display: inline-block;
  text-align: left;
  scroll-snap-align: center;
}

.room-desc-text h2 {
  font-size: 1.5em;
  font-weight: bold;
  background: black;
  color: white;
  padding: 0.5em;
}

.order-button-link{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 200px;
  height: 70px;
  margin: 20px;
  text-align: center;
  background: orange;
  font: 20px solid black;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-weight: 800;
  transition: transform 0.2s, background 0.2s;
}

.order-button:hover {
  background: #cc7800;
  transform: scale(1.1);
}

ul {
  list-style-type: disc;
  line-height: 180%;
}

.img-wrapper {
  scroll-snap-type: x mandatory;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  overflow-y: auto;
  margin: 40px 0;
}

.room-desc-image {
  position: relative;
  width: 351px;
  height: 202px;
  border-radius: 20px;
  margin: 10px;
}

.three-pic-wrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-left: 15px;
  scroll-snap-align: center;
}

#quote {
  display: inline-block;
  position: absolute;
  z-index: 2;
  color: white;
  top: 40%;
  left: 5vw;
  font-size: 3.5vw;
  font-style: italic;
  color: #fbfbfb;
}

#sub-quote{
  display: inline-block;
  position: absolute;
  z-index: 2;
  color: white;
  top: 47%;
  left: 82vw;
  font-size: 2vw;
  font-style: italic;
  color: #fbfbfb;
}

#quote2 {
  position: absolute;
  left: 5%;
  top: 40%;
  color: white;
  font-size: 3vw;
}

#quote3 {
  position: absolute;
  max-width: 25vw;
  left: 25%;
  top: 40%;
  color: white;
  font-size: 3vw;
}

#quote4 {
  display: inline-block;
  position: absolute;
  z-index: 2;
  color: white;
  top: 43%;
  left: 5vw;
  font-size: 3.5vw;
  font-style: italic;
  color: #fbfbfb;
}

.poster-wrapper {
  display: flex;
  position: relative;
  text-align: center;
  width: 100%;
}

/** Desktop media queries  */
@media (min-width: 900px) {
  .icon {
    position: relative;
    margin-top: 25px;
    top: 0.4em;
  }

  .nav-div {
    display: inline;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .nav-a {
    border: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .nav-a:hover {
    transform: scale(1.2);
  }

  .header-dropdown {
    position: relative;
    bottom: 40px;
    display: flex;
    justify-content: center;
  }

  .header-dropdown-btn {
    display: none;
  }

  .header-dropdown-content {
    display: inline-block;
    height: auto;
    overflow: visible;
    opacity: 1;
  }

  .header-text {
    font-size: 3.5em;
    font-weight: 900;
    margin-bottom: 10px;
    max-width: 600px;
  }

  .content-subheader {
    font-size: 1.5em;
    font-weight: 400;
    max-width: 600px;
  }

  .content-button {
    margin-top: 1.5em;
  }

  .content-featured-head {
    font-size: 1.8em;
    margin-top: 1.2em;
  }

  .content-featured-subhead {
    font-size: 1.2em;
    max-width: 450px;
  }

  .content-featured {
    font-size: 1.4em;
    font-weight: 600;
  }

  .hotel-images {
    width: 80%;
    height: 45vh;
    transition: transform 0.5s ease, margin-left 0.5s ease,
      margin-right 0.5s ease;
    cursor: pointer;
    border-radius: 0.5em;
  }

  .hotel-images:hover {
    transform: scale(1.03);
    margin-left: 15px;
    margin-right: 15px;
  }

 

  .content-reviews-head {
    font-size: 1.8em;
    margin-top: 1.2em;
  }

  .content-reviews-subhead {
    font-size: 1.2em;
    max-width: 450px;
  }

  .content-reviews-body-container {
    align-items: center;
  }
}
