html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* consistent sizing for all elements */
* {
  box-sizing: border-box;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}



/* ///////////////////////// */
.dropdown{
    position: relative;
    display: inline-block;
    position: relative;
    top: 12px;
    margin-right: 10px;
}

.dropdown-button{
    font-size: 16px;
    transform: scale(2);
    border: none;
    cursor: pointer;
}

.dropdown-button:hover, .dropdown-button:focus{
    background-color: #4d4d4d;
}

.dropdown-content{
    display: none;
    position: absolute;
    float: right;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    border: 1px solid #000000;
    font-weight: bold;
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #5f5f5f;
    color: white;
}

.show{
    display: block;
}


/* ///////////////////////// */
.footer-section {
  /* always at the bottom */
  position: relative;
  width: 100%;
  height: 78px;
  background: #000000;
}

.footer-section h2 {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 94.19%;
  letter-spacing: -0.025em;
  font-weight: 600;
}
